@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
	font-size: 13px;
	font-family : 'Nanum Gothic', sans-serif;
}

#header{
	background-image: url(../img/back.jpg);
	height: 300px;
	width: 100%;
	text-align: center;
	margin-top : 0px;
	background-color : white;
	background-position: center center;
}
#top_1{
	padding-left: 20px;
}
#top_2{
	padding-left: 20px;
}
#product_moisture{
	line-height: 1em;
	font-size: 1em;
	text-align: right;
	width: 40px;
	height: 150px;
}
#product_moisture0{
	line-height: 1em;
	font-size: 1em;
	text-align: right;
	width: 40px;
	height: 150px;
	background-image: url(../img/0.png);
	background-size: cover;
}
#product_moisture1{
	margin-right: 0;
	line-height: 1em;
	font-size: 1em;
	text-align: right;
	width: 40px;
	height: 150px;
	background-image: url(../img/20.png);
	background-size: cover;
}
#product_moisture2{
	line-height: 1em;
	font-size: 1em;
	text-align: right;
	width: 40px;
	height: 150px;
	background-image: url(../img/40.png);
	background-size: cover;
}
#product_moisture3{
	line-height: 1em;
	font-size: 1em;
	text-align: right;
	width: 40px;
	height: 150px;
	background-image: url(../img/60.png);
	background-size: cover;
}
#product_moisture4{
	line-height: 1em;
	font-size: 1em;
	text-align: right;
	width: 40px;
	height: 150px;
	background-image: url(../img/80.png);
	background-size: cover;
}
#product_moisture5{
	line-height: 1em;
	font-size: 1em;
	text-align: right;
	width: 40px;
	height: 150px;
	background-image: url(../img/100.png);
	background-size: cover;
}
#product_name {
	line-height: 1em;
	font-size : 1.3em;
	text-align : center;
}

#product_time {
	text-align : center;
	padding-right : 1em;
	font-size : 1em;
	color : #373839;
}
#section_products {
	clear: left;
	margin-top: 20px;
	margin-left: 12%;
	margin-right: 7%;
}
#section_addItem {
	width: 100%;
	clear: left;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
#change_button{
	background-color:#05C9FB;
}
#change_button:hover{
	background-color:#76E1F9;
	color: #373839;
	transition: background-color, 0.5s;
}
#delete_button{
	margin-left: -30px;
	background-color : #373839;
}
#delete_button:hover{
	background-color: #D1D5D7;
	color: #373839;
	transition: background-color, 0.5s;
}
table {
	border : 1px solid #EEE;
	float: left;
	clear: none;
	margin: 10px 15px;
	width: 150px;
	padding-bottom : 8px;
}

tr {
	vertical-align : middle;
	height : 10px;
}

button {
	display : block;
	width : 100px;
	height : 3em;
	color : white;
	border : none;
	cursor : pointer;
}

#footer{
	display: block;
	position: relative;
	bottom:20%;
	margin-top: 0;z
	margin-left: 30px;
	text-align:center;
	width: 100%;
	background-color: white;
}
